backend/db.sqlite3
backend/debug.log
backend/.idea
backend/superficiality/local_settings.py
frontend/node_modules/**

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

**/node_modules
node_modules
npm-debug.log
package-lock.json
