<!DOCTYPE html>
<html>
<head>
  <title>Curly Fries Restaurant</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body id="input-body">
  <div class="wrapper">
    <h1>Curly Fries Restaurant</h1>

    <form action="/login" method="post">
      <div class="row">
        <div>
          <div>
            <h2>Welcome back! Please log in:</h2>
          </div>
          <div>
            <h2>Username</h2>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
          </div>
          <div>
            <h2>Password</h2>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
          </div>
          <div class="button-container">
            <button type="submit">Log in</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
